<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Schoodle</title>
  </head>
  <nav id="nav-bar">
    <img class="logo" src="images/calendar_icon.png" width="120" height="120">
    <span class="header">Schoodle</span>
    <button class="Login">Login</button>
    <button class="Register">Register</button>
  </nav>
</html>
