<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head.ejs %>

  <body>

    <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">
            <% include ./partials/_nav.ejs %>
    </nav>

    <!-- Page-specific (main) content here -->
    <main class="container">
      <form action="/create" method="post">
        <section class="name form-group">
          <label>Name</lable>
              <input type="text" name="name" placeholder="Your Name" class="form-control">
        </section>
        <section class="email form-group">
            <label for="email">Email address:</label>
            <input type="email" name="email" placeholder="username@domain.com" class="form-control">
        </section>
        <section class="title form-group">
          <label>Event Title:</label>
              <input type="text" name="title" placeholder="Title" class="form-control">
        </section>
        <section class="description form-group">
          <label>Description:</label>
              <textarea name="text" placeholder="What's the event about?" class="form-control"></textarea>
        </section>
        <section class="location form-group form-inline">
          <label>Location:</label>
            <input class="address form-control" type="text" name="location-field" placeholder="Location">
            <button id='location' type="button" class="btn">Search</button>
          <div id="map" style="width:30%;height:300px;"></div>
            <script>

              function initMap() {
                var uluru = {lat: 43.6718, lng: -79.4668};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 4,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }
            </script>
            <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGGhzVWA98mR7ZYK31u_ZgsDOtAS_YIqI&callback=initMap">
            </script>
        </section>
        <section class="timeslots">
          <h3>Time Slots</h3>
          <section class="timeslot form-group">
            <input id="date" name="dateslot" type="date" class="form-control">
            <input id="time" name="timeslot" type="time" class="form-control">
          </section>
        </section>
        <button type="button" class="btn" id="add-slot">+</button>
        <section class="submit">
          <button type="button" class="btn">Submit</button>
        </section>
      </form>
    </main>
  </body>
</html>
