<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head.ejs %>

  <body>

    <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">
            <% include ./partials/_nav.ejs %>
    </nav>
  
    <!-- Page-specific (main) content here -->
    <main class="container">
      <form action="http://localhost:8080/create" method="post">
        <section class="name">
          <h2>Name:
              <input type="name" name="name-field" placeholder="Name">
          </h2>
        </section>
        <section class="email">
          <h2>Email:
              <input type="email" name="email-field" placeholder="username@domain.com">
          </h2>
        </section>
        <section class="event-title">
          <h2>Event Title:
              <input type="text" name="event-title-field" placeholder="Title">
          </h2>
        </section>
        <section class="description">
          <h2>Description:
              <textarea name="text" placeholder="What the event about?"></textarea>
          </h2>
        </section>
        <section class="location">
          <h2>Location:
            <input class='location-placeholder' type="text" name="location-field" placeholder="Location">
            <button id='location' type="button">Submit</button>
          </h2>
          <div id="map" style="width:70%;height:300px;"></div>
            <script>
            
              function initMap() {
                var uluru = {lat: 43.6718, lng: -79.4668};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 4,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }
            </script>
            <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGGhzVWA98mR7ZYK31u_ZgsDOtAS_YIqI&callback=initMap">
            </script>
        </section>
        <section class="timeslot">
            <h2>Timeslot:
                <input id="date" name="timeslot-field" type="date">
            </h2>
          </section>
            
          
      </form>
    
      
    </main>

  </body>
</html>
