<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head.ejs %>
      <nav id="nav-bar">
      <% include ./partials/_nav.ejs %>
    </nav>

  <body id="create-event-page">

    <main class="container-fluid center-block">
      <form action="/create" method="post">
        <section class="name form-group">
          <label>Name</lable>
          <input type="string" name="name" placeholder="Your Name" class="form-control">
        </section>
        <section class="email form-group">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="email@email.com" class="form-control">
        </section>
        <section class="title form-group">
          <h3>Event Title</h3>
          <input type="text" name="event_name" placeholder="Title" class="form-control">
        </section>
        <section class="description form-group">
          <h3>Description</h3>
          <textarea name="description" placeholder="Describe your event" class="form-control"></textarea>
        </section>
        <section class="location form-group">
          <h3>Location</h3>
            <input class="address form-control" type="text" name="locationText" placeholder="Location">
            <button id='location' type="button" class="btn">Search</button>
            <div id="map" style="width: 100%"></div>
            <script>

              function initMap() {
                var uluru = {lat: 43.6718, lng: -79.4668};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 4,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }
            </script>
            <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGGhzVWA98mR7ZYK31u_ZgsDOtAS_YIqI&callback=initMap">
            </script>
        </section>
        <section class="timeslots">
          <h3>Time Slots</h3>
          <section class="timeslot form-group">
            <input id="date" name="date" type="date" class="form-control">
            <input id="time" name="time" type="time" class="form-control">
          </section>
        </section>
        <button type="button" class="btn" id="add-slot">+</button>
        <section class="submit">
          <button type="submit" class="btn btn-lg">Submit</button>
        </section>
      </form>
    </main>
  </body>
</html>
