<!doctype html>
<html lang="en">
  <% include partials/_head %>
  <% include partials/_nav %>
  <body class="container-fluid text-center">
    <div class="main-body">
      <h1>Welcome to Schoodle!</h1>
      <p class="lead">Schoodle allows you to create events, and invite your friends to vote on dates and times.</p>
      <video width="600" height="300" autoplay>
        <source src="images/friends.mp4" type="video/mp4">
      </video>
      <br><a href="create" class="btn btn-lg btn-info" role="button">Create Event</a>
    </div>
  </body>
</html>
