<!doctype html>
<html lang="en">
  <% include partials/_head %>
  <body class="container-fluid text-center">
    <% include partials/_nav %>
    <div class="main-body">
      <h1>Welcome to Schoodle!</h1>
      <p>Schoodle allows you to create events, poll dates and times, and invite your friends to vote.</p>
      <p>Do you have an event that you need to plan? Are you having trouble getting people to agree 
      on a date? If you answered yes to these questions then schoodle is right for you!</p>
      <video width="600" height="300" autoplay loop>
        <source src="images/short.mp4" type="video/mp4">
      </video>
      <!--<button class="button" id="create"> Create an event now! </button>-->
      <a href="create" class="btn btn-info" role="button">Plan your event now</a>
    </div>
  </body>
</html>
