<% include partials/_nav %>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Welcome to Schoodle!</h1>
    <p>Schoodle allows you to create events, poll dates and times, and invite your friends to vote.</p>
    <p>Do you have an event that you need to plan? Are you having trouble getting people to agree 
    on a date? If you answered yes to these questions then schoodle is right for you!</p>
    
  </body>
