<!doctype html>
<html lang="en">
  <% include partials/_head %>
  <body class="container-fluid text-center">
    <% include partials/_nav %>
    <div class="main-body">
      <h1>Welcome to Schoodle!</h1>
      <p class="lead">Schoodle allows you to create events, poll dates and times, and invite your friends to vote.</p>
      <p class="lead">Do you have an event that you need to plan?</p>
      <video width="600" height="300" autoplay>
        <source src="images/friends.mp4" type="video/mp4">
      </video>
      <br><a href="create" class="btn btn-info" role="button">Yes I do</a>
    </div>
  </body>
</html>
