<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head.ejs %>

  <body>

    <nav>
      <% include ./partials/_nav.ejs %>
    </nav>

    <main class="container-fluid">

      <h1 style="color: white; font-size: 200%">Here is your link!</h1>
        <a href= "<%=link%>" style="font-size: 200%"><%=link%></a>

    </main>

  </body>
</html>
