<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head.ejs %>

  <body>

    <nav>
      <% include ./partials/_nav.ejs %>
    </nav>

    <main class="container">
        <a href= "<%=link%>" ><%=eventId%></a>
 
    </main>

  </body>
</html>
