body {
  margin: 0;
  background: rgb(179, 167, 167);

}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.2;
}

.main-body {
  padding: 100px;
  z-index:1;
  opacity: 1;
  p {
    font-size: x-large;
  }
}

#view-page-body {
  padding: 100px;
  label {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 10px;
    border: 1px solid, lightslategray;
    font-size: x-large;
    border-radius: 10px;
    background-color: lightslategrey;

  }
}

.timeslot-first {
  padding-right: 50vw;
}
.email {
  padding-right: 50vw;
}

.name {
  padding-right: 50vw;
}

.title {
  padding-right: 50vw;
}

.description {
  padding-right: 50vw;
}


#location {
  margin: 10px;
}
// .event_details {
//   padding: 100px;
//   button {
//     padding: 10px;
//     margin: 20px;
//   }
//   li {
//     padding: 10px;
//   }
// }