body {
  margin: 0;
  background-color: black;
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.3;
}

.main-body {
  padding: 100px;
  z-index:1;
  opacity: 1;
  color: white;
  p {
    font-size: x-large;
    color: white;
  }
}

#view-page-body {
  padding: 100px;
  label {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 10px;
    border: 1px solid, lightslategray;
    font-size: x-large;
    border-radius: 10px;
    background-color: lightslategrey;

  }
}

.timeslot-first {
  padding-right: 50vw;
}
.email {
  padding-right: 50vw;
}

.name {
  padding-right: 50vw;
}

.title {
  padding-right: 50vw;
}

.description {
  padding-right: 50vw;
}


#location {
  margin: 10px;
}

#create-event-page {
  background-color: rgba(99, 96, 96, 0.486);
}

#view-event-page {
  background-color: rgba(99, 96, 96, 0.486);
}