body {
  margin: 0;
  background-color: black;
  font-family: 'Shadows Into Light Two', cursive;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.3;
}

.container-fluid {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Shadows Into Light Two', cursive;

  .submit {
    .btn {
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }
}

form {

}

.main-body {
  padding: 100px;
  z-index:1;
  opacity: 1;
  color: white;
  p {
    font-size: x-large;
    color: white;
  }
}

#view-page-body {
  padding: 100px;
  label {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    padding-right: 2px;
    margin: 10px;
    border: 1px solid, lightslategray;
    font-size: x-large;
    border-radius: 10px;
    background-color: lightslategray;

  }
}

.form-group {
  margin: 5;
  float: center;
}

.form-control {
  float: center
}

.timeslot {
  width: 200px;
}
.email {
  width: 300px;
}

.name {
  width: 300px;
}

.form-control {
  width: 300px;
}

.title {
  width: 300px;
}

.description {
  width: 300px;
}


#location {
  margin: 20px;
}

#create-event-page {
  background-color: #E9B000;
  background: linear-gradient(#f6d365, #fda085);
}

#view-event-page {
  background-color: #E9B000;
  background: linear-gradient(#f6d365, #fda085);

    margin-top: 20px;
    margin-bottom: 20px;

  h4 {
    padding: 20px;
  }
}



.event-info {
  padding-left: 10px;
}



#view-page-body {
  padding: 10px;
}

#vote {
  padding-bottom: 50px;
  padding-top: 30px;
}

.location {
  width: 300px;
  input {
    padding-right: 5%;
  }
}

#map {
  margin-left: 10px;
  width: 30%;
  height: 300px;
}

#location {
  float: right;
}

.checkbox label {
  display: inline-block;

  margin: 5px;
}

.each-name {
  float: center;
  font-size: 100%;
}
